.footer {
	padding-top: 50px;
	background-color: var(--dark-color);
	padding: 100px 70px;

	// .footer__container

	&__container {
	}

	// .footer__content

	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__box {
		display: flex;
		flex-direction: column;
	}

	// .footer__title

	&__title {
		color: var(--light-color);
        font-family: var(--font-family);
        font-size: 40px;
		
    
	}
}


