.footer {
	padding-top: 50px;
	background-color: var(--dark-color);

	// .footer__container

	&__container {
	}

	// .footer__content

	&__content {
	}

	// .footer__title

	&__title {
		color: var(--light-color);
        font-family: var(--font-family);
        font-size: 40px;
    
	}
}


