.header {
    background-color: var(--dark-color) !important;
    box-shadow: none !important;
    display: flex;
    justify-content: space-between;
    // .header__container

    &__container {}

    // .header__logo

    &__logo {
        color: var(--light-color);
        font-family: var(--font-family) !important;
        font-size: 30px;
        margin-bottom: 83px;
    }
}

.nav {

    // .nav__list

    &__list {}

    // .nav__item

    &__item {}

    // .nav__link

    &__link {
        color: var(--light-color) !important;
        font-family: var(--font-family) !important;
        font-weight: 400;
        font-size: 17px;
        line-height: 159%;
        
    }

    &__link:hover {
        color: var(--accent-color) !important;
    }
}

.burger {

    // .burger__line

    &__line {

        // .burger__line_top

        &_top {}

        // .burger__line_middle

        &_middle {}

        // .burger__line_bottom

        &_bottom {}
    }
}