.header {
    box-shadow: none;
    --header-color: var(--light-color)
    // .header__container

    &__container {
        max-width: var(--container-width);
        padding: 45px 15px;

    }


    // .header__logo

    &__logo {
        color: var(--light-color);
        font-family: var(--font-family);
        font-size: 30px;
        text-decoration: none;


    }





    // .burger__line {
    //     color: var(--light-color);


    //     @media(max-width:480px) {

    //         background-color: var(--light-color);

    //     }
    // }

    // .nav__list {

    //     @media(max-width:480px) {
    //         background-color: var(--light-color);
    //         width: 100%;
    //         min-height: 100%;
    //         .nav__link {
    //             @media(max-width:480px) {
    //                 color: var(--dark-color);

    //             }

    //         }
    //     }
    // }

}






// &__nav {
//     .nav__list {
//         position: fixed;
//         z-index: 100;
//         box-sizing: inherit;
//         width: 100%;
//         height: 100%;
//         max-width: var(--max-width);
//         max-height: var(--max-height);
//         background-color: var(--header-color);
//         transition-property: top, bottom, left, right;
//         transition-duration: var(--burger-speed);
//         overflow: auto;

//     }
// }