.header {
    box-shadow: none;
    --header-color: var(--dark-color);
    // .header__container

    &__container {
        max-width: var(--container-width);
        padding: 45px 15px;
    }

    // .header__logo

    &__logo {
        color: var(--light-color);
        font-family: var(--font-family);
        font-size: 30px;
        text-decoration: none;
        z-index: 102;
    }


    &__burger {
        span {
            background-color: var(--light-color);
        }
    }
    .nav{
        @media(max-width:768px){
            background-color: var(--dark-color);
        }
     
    }


}
