.header {
   
    background-color: var(--text-color);
    padding-top: 43px;

    // .header__container

    &__container {
        
    }

    // .header__content

    &__content {}

    // .header__logo

    &__logo {
        color: var(--light-color);
    }
}

.container {}

.nav {

    // .nav__list

    &__list {}

    // .nav__item

    &__item {}

    // .nav__link

    &__link {}
}

.burger {

    // .burger__line

    &__line {

        // .burger__line_top

        &_top {}

        // .burger__line_middle

        &_middle {}

        // .burger__line_bottom

        &_bottom {}
    }
}