.hero {
    background-color: var(--dark-color);

    // .hero__container

    &__container {}

    // .hero__content

    &__content {
        display: flex;
        gap: 60px;
        align-items: center;
    }

    &__svg {
        width: 100%;
        height: 3px;

    }

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 70px;
        line-height: 126%;
        letter-spacing: 0.05em;
        color: var(--light-color);
        min-width: 530px;
    }

    // .hero__img

    &__img {}

    &__title-line {
        display: inline-flex;
        flex-direction: column;
        // align-items: center;
        max-width: fit-content;
        margin-bottom: 90px;

    }

  
    &__item {
        max-width: fit-content;

    }
    &__text{
        // display: flex;
        // flex-direction: column;
    }


    &__span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: var(--light-color);
        min-width: 66px;
    }
}

.container {}