.latest {
    padding-bottom: 130px;;
    padding-top: 48px;
    background-color: var(--dark-color);
    @media(max-width:480px){
        padding-bottom: 30px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 64px;
        line-height: 124%;
        letter-spacing: 0.05em;
        color: var(--light-color);
        margin: 0;
        @include media-adaptiv-font(64,30);
     
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 180px;
        min-height: 50px;
        background: var(--accent-color);
        border-radius: 10px;
        color: var(--light-color);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 17px;
        line-height: 159%;
        
    }

    &__box {
        display: flex;
        gap: 70px;
        min-width: 1300px;
        min-height: 550px;
        background-color: var(--text-color);
        padding: 40px 40px;
        margin-bottom: 60px;
        @media(max-width:480px){
            display: flex;
            flex-direction: column;
        }
    }

    &__span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-color);
        color: var(--light-color);
        max-width: 73px;
        border-radius: 10px;
        margin-bottom: 20px;
        

    }

    &__spans {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 17px;
        line-height: 159%;
        min-width: 82px;
        color: var(--accent-color);
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__line {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 64px;
        line-height: 110%;
        letter-spacing: 0.04em;
        color: var(--light-color);
        margin: 0;
        margin-bottom: 20px;
        @media(max-width:480px){
            max-width: 400px;
        }
        @include media-adaptiv-font(64,30);
     
    }

    &__sentence {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        color: var(--block-color);
        margin-bottom: 20px;
        @media(max-width:480px){
            max-width: 400px;
        }

    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color);
        color: var(--light-color);
        max-width: 210px;
        min-height: 50px;
        border-radius: 10px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;

    }


    &__span-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 17px;
        line-height: 159%;
        max-width: 140px;
        background: var(--background-color);
        color: var(--light-color);
        border-radius: 10px;
        margin-bottom: 20px;
    }

    &__span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family);
        background: var(--background-color);
        color: var(--light-color);
        min-width: 73px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    &__img{
        @media(max-width:4801px){
            max-width: 350px;
            max-height: 350px;
        }
    }

}