.latest {
    padding-top: 48px;
    background-color: var(--dark-color);
    // .latest__container

    &__container {}

    // .latest__content

    &__content {
        display: flex;
        justify-content: space-between;
    }

    // .latest__title

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 64px;
        line-height: 124%;
        letter-spacing: 0.05em;
        color: var(--light-color);
    }

    // .latest__button

    &__button {
        max-width: 180px;;
        background: var(--accent-color);
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 17px;
        line-height: 159%;
        color: var(--light-color);
    }
}