.star {
    background: var(--dark-color);
    padding-top: 50px;
    // .star__container

    &__container {}

    // .star__content

    &__content {
        display: flex;
        gap:20px;
       
    }

    // .star__box

    &__box {
        background: var(--text-color);
        max-width: 420px;
        padding: 50px 50px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;;

    }


    &__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 36px;
        line-height: 120%;
        color: var(--light-color);
        min-width: 315px;
        margin: 0;
        margin-bottom: 20px;
     

    }

    &__svg {
        max-width: 18px;
        min-height: 17px;
    }

    &__span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color:var(--block-color);
     
    }
}